<script id="login" type="text/x-handlebars-template">
    <form id="loginForm">
        <div>
            <div>Email <input id="loginEmail" type="text" name="email"></div>
            <div>Password <input id="loginPassword" type="password" name="password"></div>
        </div>
        <input class="loginButton" type="submit" value="Login">
    </form>
</script>

<script id="list" type="text/x-handlebars-template">
    <div>
        <a class="newItem" href="#">Nuevo</a>
    </div>
    <ul>
        {{#each users}}
        <li>
            {{ email }} {{#if is_active}}<small>(Activo)</small>{{/if}}
            <a data-id="{{ id }}" data-email="{{ email }}" class="edit" href="#">Editar</a>
            <a data-id="{{ id }}" data-email="{{ email }}" class="delete" href="#">Borrar</a>
        </li>
        {{/each}}
    </ul>
    <div><a class="close" href="#">Cerrar Session</a></div>
</script>

<script id="edit" type="text/x-handlebars-template">
    <form id="editForm">
        <input type="hidden" id="idInput" name="id" value="{{ id }}">
        <div>
            <div>Email <input type="text" id="emailInput" name="email" value="{{ email }}"></div>
            <div>Password <input type="password" id="passwordInput" name="password" value=""></div>
        </div>
        <input class="save" type="submit" value="Guardar">
        <input class="returnList" type="button" value="Cancelar">
    </form>
</script>